{
    "tabWidth": 4,
    "printWidth": 120,
    "semi": true,
    "singleQuote": false,
    "overrides": [
        {
            "files": ["*.yml", "*.toml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
